<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" sizes="16x16" type="image/png" href="img/favicon-32x32.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/framework.css">
        <title>Motivation</title>
    </head>
    <body>
      <div id="app">
          <!-- header -->
        <header name="top">
            <!-- container -->
            <div class="container">
                <!-- section navbar -->
                <div class="nav-bar ">
                    <!-- logo -->
                    <div class="logo">
                        <img src="img/dark-logo.png" alt="">
                    </div>
                    <!-- menu -->
                    <div class="menu">
                        <ul>
                            <li v-for="element in menu">{{element}}
                                <i class="fas fa-chevron-down"></i>
                            </li>
                        </ul>
                    </div>
                    <!-- section icon -->
                    <div class="icons-social">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
                <!-- information background -->
                <div class="header-background-info">
                    <!-- left block -->
                    <div class="left-info">
                        <span class="text_tras_up bold">i'm wingman</span>
                        <h1 class="font_size_45">Peace On Earth A Wonderful Wish But No Way</h1>
                        <span  class="font_size_18 text-color">Success isn't overnight.It's when everyday you get a
                                little bettere than the day before.It all adds up.
                        </span>
                        <button class="btn btn-green">Get Start For Free<i class="fas fa-long-arrow-alt-right m_left10"></i></button>
                    </div>
                    <!-- right img -->
                    <div class="right">
                        <div class="img">
                            <img src="img/home-movation-hero-image.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="icons-absolute">
                <i class="fas fa-ruler-combined"></i>
                 <i class="far fa-times-circle"></i>
                <i class="fas fa-book"></i>
                <i class="fas fa-shopping-cart"></i>
               
            </div>
        </header>
        <main>
            <!-- contianer -->
            <div class="container">
                <!-- section stats -->
                <section class="stats m_top_bott_50">
                        <div class="stats-info">
                            <ul>
                                <li v-for="info in stats">
                                    <div class="content">
                                    <span class="header-stats">{{info.number}}</span>
                                        <span>{{info.infonumber}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                </section>
                <!-- section about -->
                <section class="about">
                        <div class="about-container">
                            <span class="text_tras_up text-color colorgreen bold">about me</span>
                            <!-- about header -->
                            <div class="about-header m_top_20">
                                <div class="left">
                                    <h2 class="font_size_30 text-dark">How to Be an Alpha Male: The 15 Habits of True Alphas</h2>
                                </div>
                                <div class="right">
                                    <h3 class="">Want to learn how to be
                                        <span class="colorgreen cursor">an aplha male</span>
                                        ? How to be more masculine? How to be the man you've always wanted to be?
                                    </h3>
                                    <p class="m_top_bott_10 text-color font_size_16">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Deleniti quae, at nisi id voluptas ea nesciunt voluptatibus labore ipsa sunt unde nam explicabo aliquid est possimus! H
                                        arum laudantium obcaecati explicabo.
                                    </p>
                                </div>
                            </div>
                            <!-- about body -->
                            <div class="about-body m_top_30 pd_B_50">
                                <div class="left">
                                    <div class="icon-youtube">
                                        <img class="absolute"src="img/icon-youtube-play.png" alt="">
                                        <img src="img/home-movation-video-poster-670x450.jpg" alt="">
                                    </div>
                                </div>
                                <div class="right">
                                        <span class="text font_size_25 text-dark">&#8220;Every morning you have two choices:
                                        continue to sleep with your dreams,
                                        or wake up and chase them
                                        &#8221;</span>
                                        <div class="right-bottom">
                                            <img src="img/home-movation-shape-01.png" alt="">
                                            <span class="bold text-dark font_size_18 m_top_bott_20">Kaixa Stark</span>
                                            <span class="text_tras_up font_size_12 text-color">wingman</span>
                                        </div>
                                </div>
                            </div>
                        </div>

                </section>
                <!-- section courses -->
                <section class="Courses m_top_bottom_100">
                    <!-- header -->
                        <div class="courses-header text-center">
                            <span class="text_tras_up text-color text-color font_size_16"> Begin your journey at maxcoach </span>
                            <span class="font_size_35 text-dark m_top_bott_20">Latest <span class="colorgreen">Online Courses</span></span>
                        </div>
                        <!-- body -->
                        <div class="courses-body">
                            <div v-for="(course,index) in courses" class="box">
                                <div class="img">
                                    <img :src="'img/motivation-course-'+index+'-480x298.jpg'" alt="">
                                </div>
                                <div class="information-box m_top_10">
                                    <span class="text-color font_size_25">${{course.price}}</span>
                                    <span class="font_size_18 text-dark m_top_bott_20 title">{{course.title}}</span>
                                    <div class="info-courses text-color">
                                        <span><i class="far fa-file-alt m_right_10"></i>{{course.lessons}} Lessons</span>
                                        <span class="m_left15"><i class="far fa-user m_right_10"></i> {{course.students}} Studets</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-green center m_top_50 cursor ">View all courses <i class="fas fa-long-arrow-alt-right m_left10"></i></button>
                        </div>
                </section>
                <!-- section bookstore -->
                <section class="bookstore">
                    <div class="bookstore-container">
                        <span class="text_tras_up text-color colorgreen bold">Book Store Online</span>
                    </div>
                    <!-- body -->
                    <div class="bookstore-body m_top_30">
                        <div class="left">
                            <h2>Be Alpha With <span class="colorgreen">Wingman's Book</span></h2>
                            <ul class="text-color m_top_20">
                                <li><i class="fas fa-check m_right_10 ms_green"></i>Help you undestand yourself better</li>
                                <li><i class="fas fa-check m_right_10 ms_green"></i>Revealing mature tips</li>
                                <li><i class="fas fa-check m_right_10 ms_green"></i>give the right advice</li>
                                <li><i class="fas fa-check m_right_10 ms_green"></i>Fascinating examples of alpha man</li>
                            </ul>
                            <button class="btn btn-green m_top_30 cursor"> Get Free Ebook</button>
                        </div>
                        <!-- right product -->
                        <div class="right">
                            <div class="box-product">
                                <div class="wrapp">
                                    <img src="img/product-book-10-400x400.jpg" alt="">
                                        <!-- box:hover -->
                                    <div class="options-icon">
                                        <div class="circles"> <i class="fas fa-search"></i></div>
                                        <div class="circles"><i class="fas fa-shopping-cart"></i> </div>
                                        <div class="circles"><i class="far fa-heart"></i></div>
                                        <div class="circles"> <i class="fas fa-wifi"></i></div>

                                    </div>
                                </div>
                                <div class="product-info text-center m_top_20 text-dark">
                                    <span class=" text-dark font_size_18 bold">Alpha man By MaxCoah</span>
                                    <span class="colorgreen font_size_25 m_top_20">$29.00</span>
                                </div>


                            </div>
                            <div class="box-product m_left10">
                                <div class="wrapp">
                                    <img src="img/product-book-11-400x400.jpg" alt="">
                                      <!-- box:hover -->
                                    <div class="options-icon">
                                        <div class="circles"> <i class="fas fa-search"></i></div>
                                        <div class="circles"><i class="fas fa-shopping-cart"></i> </div>
                                        <div class="circles"><i class="far fa-heart"></i></div>
                                        <div class="circles"> <i class="fas fa-wifi"></i></div>

                                    </div>
                                </div>
                                <div class="product-info text-center m_top_20 text-dark">
                                    <span class="text-dark font_size_18 bold">Real Man 4.0 by Maxcoach</span>
                                    <span class="colorgreen font_size_25 m_top_20">$29.00</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>
                <!-- section logo -->
                <section class="logos m_top_bottom_100">
                    <div class="container">
                        <div class="logos-img">
                            <img src="img/client-logo-01-primary.png" alt="">
                            <img src="img/client-logo-02-primary.png" alt="">
                            <img src="img/client-logo-03-primary.png" alt="">
                            <img src="img/client-logo-04-primary.png" alt="">
                            <img src="img/client-logo-05-primary.png" alt="">
                            <img src="img/client-logo-06-primary.png" alt="">
                            <img src="img/client-logo-07-primary.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
            <!-- section real stories -->
            <section class="real-stories ">
                <!-- slider -->
                <div class="left-slider">
                    <div class="content-real">
                            <span class="text_tras_up colorgreen bold">real stories</span>

                            <div class="info-testimonial">
                                 <span class="m_top_bott_35 font_size_18 text-dark">
                                    {{testimonial[count].descriptions}}
                                </span>
                                <img :src="testimonial[count].img" alt="">
                                <span class="font_size_18 m_top_bott_20">{{testimonial[count].name}}</span>
                                <span class="text-color">{{testimonial[count].work}}</span>
                            </div>
                    </div>
                    <div class="tools-arrow">
                        <i @click="prev"class="fas fa-sort-up cursor"></i>
                        <span>{{count+1}}/{{testimonial.length}}</span>
                        <i @click="next" class="fas fa-sort-down cursor"></i>
                    </div>
                </div>
                <!-- right -->
                <div class="right-stories">
                    <img src="img/home-movation-testimonial-image-600x439.jpg" alt="">
                </div>
            </section>
            <div class="container">
                <!-- section blog -->
                <section class="blog m_top_bottom_100">
                    <!-- intestazione -->
                    <div class="blog-header">
                        <span class="text_tras_up text-color colorgreen bold">blog updated</span>
                        <h2 class="text-dark m_top_20 font_size_30">Interesting <span class="colorgreen">articles updated</span> daily</h2>
                    </div>
                    <!-- corpo -->
                    <div class="blog-body m_top_30">
                        <div v-for="element in blog" class="box">
                            <div class="img">
                                <img :src="element.img" alt="">
                            </div>
                            <div class="information-box m_top_10">
                                <div class="info-courses text-color">
                                    <span><i class="far fa-file-alt m_right_10"></i>{{element.data}}</span>
                                </div>
                                <span class="font_size_18 text-dark m_top_bott_20 title">{{element.title}}</span>
                                <span class="colorgreen">{{element.descriptions}}</span>

                            </div>
                        </div>
                        <button class=" btn-particular   center m_top_50 cursor text_tras_up ">View all post </button>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="container colorgreen">
                <div class="footer-info ">
                    <div class="left-address">
                        <span class="bold ms_text_white font_size_18 ">Address</span>
                        <ul >
                            <li v-for="element in address">{{element}}</li>
                        </ul>

                    <div class="icons-social font_size_30 m_top_30">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>

                    </div>

                    <div class="right-menu">
                        <!-- explorer -->
                        <div class="explore m_right_80">
                            <span class="bold ms_text_white font_size_18">Explorer</span>
                            <div class="wrapp">
                                <ul class="m_right_80">
                                    <li v-for="element in explore ">{{element}}</li>
                                </ul>
                                <ul>
                                    <li >Succes Story</li>
                                    <li>Courses</li>
                                    <li> Contact us</li>
                                </ul>
                            </div>
                        </div>
                        <div class="information">
                            <span class="bold ms_text_white font_size_18">Explorer</span>
                            <ul>
                                <li v-for="info in information">{{info}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center m_top_100 pd_B_30"> <span class="">©2020 MaxCoach, All Rights Reserved</span> </div>
            </div>
        </footer>
        <div class="fixed">
            <div class="circles"> <a href="#top"><i class="fas fa-long-arrow-alt-up"></i></a> </div>
        </div>


    </div>

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>